html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.radioButton{
display: inline-block;
justify-content: center;
align-items: center;
width: 300px;
height: 50px;
border: 1px solid white;
border-radius: 15px;
/* position: absolute; */
/* box-shadow: 0px 0px 4px rgba(0, 0, 0, .50); */
/* margin: 2rem; */
}

/* <style>

<label for="like" class="radioButton"><input type="radio" id="1" name="like" value="like"><div class="radioButton"></div>Like
   </label><br>
   <label for="share" class="radioButton"><input type="radio" id="2" name="share" value="share"><div class="radioButton"></div>
 Share</label><br>
   <label for="Comment" class="radioButton"><input type="radio" id="3" name="Comment" value="Comment">
 <div class="radioButton"></div>Comment</label>

</style> */
